.card {
  width: 200px;
  height: 408px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #f3f3f3;

  background-color: #fff;

  &__photo {
    margin: 32px 19px 0;

    &-img {
      display: block;
      width: 160px;
      height: 134px;
    }
  }

  &__label {
    margin-top: 40px;
    margin-bottom: 16px;
    margin-inline: $margin-card-content-inline;

    &-title {
      margin-bottom: 4px;
      font-family: inherit;
      color: $color-text-main;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0;
    }

    &-code {
      font-family: inherit;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0%;
      color: #616070;
    }
  }

  &__reviews {
    margin-inline: $margin-card-content-inline;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &-text {
      align-self: flex-end;
      text-align: right;
      font-family: inherit;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 0;
      color: $color-text-main;
    }
  }

  &__price {
    margin-inline: $margin-card-content-inline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    &-label {
      font-family: inherit;
      color: #616070;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
    }

    &-value {
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0%;
      color: $color-text-main;
    }
  }

  &__button {
    margin-inline: $margin-card-content-inline;

    margin-bottom: 16px;
    display: block;
    width: 166px;
    height: 40px;
    background-color: #00acdc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;

    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0%;

    &:hover {
      border: 1px solid #00acdc;
      background-color: #f3f3f3;
      color: #00acdc;
    }
  }
}
